# Milestone 1

In this milestone, we will be reading in the data via Pandas.

## 1. Downloading the data

In [3]:
import re
import os
import glob
import zipfile
import requests
from urllib.request import urlretrieve
import json
import pandas as pd

In [4]:
# Necessary metadata
article_id = 14096681
url = f"https://api.figshare.com/v2/articles/{article_id}"
headers = {"Content-Type": "application/json"}
output_directory = "rainfallNSW/"

In [5]:
response = requests.request("GET", url, headers=headers)
data = json.loads(response.text)  # this contains all the articles data, feel free to check it out
files = data["files"]             # this is just the data about the files, which is what we want
files

[{'id': 26579150,
  'name': 'daily_rainfall_2014.png',
  'size': 58863,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26579150',
  'supplied_md5': 'fd32a2ffde300a31f8d63b1825d47e5e',
  'computed_md5': 'fd32a2ffde300a31f8d63b1825d47e5e'},
 {'id': 26579171,
  'name': 'environment.yml',
  'size': 192,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26579171',
  'supplied_md5': '060b2020017eed93a1ee7dd8c65b2f34',
  'computed_md5': '060b2020017eed93a1ee7dd8c65b2f34'},
 {'id': 26586554,
  'name': 'README.md',
  'size': 5422,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26586554',
  'supplied_md5': '61858c6cc0e6a6d6663a7e4c75bbd88c',
  'computed_md5': '61858c6cc0e6a6d6663a7e4c75bbd88c'},
 {'id': 26766812,
  'name': 'data.zip',
  'size': 814041183,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26766812',
  'supplied_md5': 'b517383f76e77bd03755a63a8ff83ee9',
  'computed_md5': 'b517383f76e77bd03755a63a8ff83ee9'},
 {'id': 26766815,
  'name': 'get_data.py',
  'size': 4113,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26766815',
  'supplied_md5': '7829028495fd9dec9680ea013474afa6',
  'computed_md5': '7829028495fd9dec9680ea013474afa6'}]

In [6]:
files_to_dl = ["data.zip"]  # feel free to add other files here
for file in files:
    if file["name"] in files_to_dl:
        os.makedirs(output_directory, exist_ok=True)
        urlretrieve(file["download_url"], output_directory + file["name"])

In [7]:
with zipfile.ZipFile(os.path.join(output_directory, "data.zip"), 'r') as f:
    f.extractall(output_directory)

## 2. Combining the data

In [8]:
%%time
import pandas as pd

path = r'rainfallNSW' # use your path
all_files = glob.glob(path + "/*.csv")
all_files.remove(path + "/observed_daily_rainfall_SYD.csv")
li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    df['model'] = filename[12:-23]
    li.append(df)

combined_df = pd.concat(li, axis=0, ignore_index=True)
combined_df

CPU times: user 35.1 s, sys: 5.57 s, total: 40.7 s
Wall time: 44.8 s

,time,lat_min,lat_max,lon_min,lon_max,rain (mm/day),model
0,1889-01-01 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.244226e-13,MPI-ESM-1-2-HAM
1,1889-01-02 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.217326e-13,MPI-ESM-1-2-HAM
2,1889-01-03 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.498125e-13,MPI-ESM-1-2-HAM
3,1889-01-04 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.251282e-13,MPI-ESM-1-2-HAM
4,1889-01-05 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.270161e-13,MPI-ESM-1-2-HAM
...,...,...,...,...,...,...,...
62467838,2014-12-27 12:00:00,-30.157068,-29.214660,153.1250,154.3750,6.689683e+00,SAM0-UNICON
62467839,2014-12-28 12:00:00,-30.157068,-29.214660,153.1250,154.3750,7.862555e+00,SAM0-UNICON
62467840,2014-12-29 12:00:00,-30.157068,-29.214660,153.1250,154.3750,1.000503e+01,SAM0-UNICON
62467841,2014-12-30 12:00:00,-30.157068,-29.214660,153.1250,154.3750,8.541592e+00,SAM0-UNICON
62467842,2014-12-31 12:00:00,-30.157068,-29.214660,153.1250,154.3750,6.811749e+01,SAM0-UNICON

**Saving combined csv**

In [13]:
combined_df.to_csv("combined_data.csv")

## 3. Time taken to combine CSV file

| Team Member | Operating System | RAM | Processor | Is SSD | Time taken |
|:-----------:|:----------------:|:---:|:---------:|:------:|:----------:|
| Ruben       |       MacOS      |  8  |    M1     |   Yes  |            |
| Jacqueline  |       MacOS      |  8  |IntelCorei5|   Yes  |  1min 8s   |
| Kyle        |                  |     |           |        |            |
| Sanchit     |       MacOS      |  8  |    M1     |   Yes  |  40s       |

### 3.1 Observations

TO BE FILLED IN ...

## 4. Loading CSV and Exploratory Data Analysis

We will try out the following approaches to reduce run time and memory usage when performing a simple EDA for predicting the daily rainfall in Australia. 

The first approach we are taking is to change dtype of the data and the second approach is to only load 1 column and see it's effect on the run time.

We will run the above tasks and note down the run time in each members PC.

**Comparing the run times for loading the csv**

In [14]:
%%time
df = pd.read_csv("combined_data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62467843 entries, 0 to 62467842
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   Unnamed: 0     int64
 1   time           object
 2   lat_min        float64
 3   lat_max        float64
 4   lon_min        float64
 5   lon_max        float64
 6   rain (mm/day)  float64
 7   model          object
dtypes: float64(5), int64(1), object(2)
memory usage: 3.7+ GB
CPU times: user 46.2 s, sys: 16.7 s, total: 1min 2s
Wall time: 1min 32s

### Time taken to load the dataset

| Team Member | Operating System | RAM | Processor | Is SSD | Time taken |
|:-----------:|:----------------:|:---:|:---------:|:------:|:----------:|
| Ruben       |       MacOS      |  8  |    M1     |   Yes  |            |
| Jacqueline  |       MacOS      |  8  |IntelCorei5|   Yes  |            |
| Kyle        |                  |     |           |        |            |
| Sanchit     |       MacOS      |  8  |    M1     |   Yes  |  1min 2s   |

### The first method we will use to reduce the runtime will be to change the datatype. We will convert the numerical columns from float64 to float32

In [15]:
%%time
combined_df_f32 = pd.read_csv("combined_data.csv", dtype={'lat_min': 'float32', 'lat_max': 'float32', 'lon_min': 'float32', 'lon_max': 'float32', 'rain (mm/day)': 'float32'})
combined_df_f32.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62467843 entries, 0 to 62467842
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   Unnamed: 0     int64
 1   time           object
 2   lat_min        float32
 3   lat_max        float32
 4   lon_min        float32
 5   lon_max        float32
 6   rain (mm/day)  float32
 7   model          object
dtypes: float32(5), int64(1), object(2)
memory usage: 2.6+ GB
CPU times: user 45.6 s, sys: 14.3 s, total: 59.9 s
Wall time: 1min 12s

| Team Member | Operating System | RAM | Processor | Is SSD | Time taken |
|:-----------:|:----------------:|:---:|:---------:|:------:|:----------:|
| Ruben       |       MacOS      |  8  |    M1     |   Yes  |            |
| Jacqueline  |       MacOS      |  8  |IntelCorei5|   Yes  |            |
| Kyle        |                  |     |           |        |            |
| Sanchit     |       MacOS      |  8  |    M1     |   Yes  |  1min      |

The total time did not reduce considerably. \
But the memory usage reduced from 3.7+ GB to 2.6+ GB.

### We will now try to load individual columns and perform EDA on them

In [19]:
%%time
column = ['lat_max']
combined_df_value = pd.read_csv("combined_data.csv", usecols=column)
print(combined_df_value.value_counts())

lat_max
-31.099476    3035329
-32.041885    3035329
-34.869110    3035329
-32.984293    3035329
-30.000000    2529870
               ...
-33.487232     183960
-33.490981     183960
-30.696652     183960
-30.700015     183960
-27.906064     183960
Length: 87, dtype: int64
CPU times: user 23.3 s, sys: 2.08 s, total: 25.4 s
Wall time: 26.4 s

.value_counts().compute()

| Team Member | Operating System | RAM | Processor | Is SSD | Time taken |
|:-----------:|:----------------:|:---:|:---------:|:------:|:----------:|
| Ruben       |       MacOS      |  8  |    M1     |   Yes  |            |
| Jacqueline  |       MacOS      |  8  |IntelCorei5|   Yes  |            |
| Kyle        |                  |     |           |        |            |
| Sanchit     |       MacOS      |  8  |    M1     |   Yes  |  25s       |

It took only about 25 seconds. But this is not a feasible solution since its not scalable. Performing this task for all columns in loops will only add to the total time.

In [21]:
%%time
combined_df.describe()

CPU times: user 7.06 s, sys: 3.22 s, total: 10.3 s
Wall time: 14.3 s

            lat_min       lat_max       lon_min       lon_max  rain (mm/day)
count  5.924854e+07  6.246784e+07  5.924854e+07  6.246784e+07   5.924854e+07
mean  -3.310482e+01 -3.197757e+01  1.469059e+02  1.482150e+02   1.901170e+00
std    1.963549e+00  1.992067e+00  3.793784e+00  3.809994e+00   5.585735e+00
min   -3.646739e+01 -3.600000e+01  1.406250e+02  1.412500e+02  -3.807373e-12
25%   -3.486911e+01 -3.366221e+01  1.434375e+02  1.450000e+02   3.838413e-06
50%   -3.300000e+01 -3.204188e+01  1.468750e+02  1.481250e+02   6.154947e-02
75%   -3.140170e+01 -3.015707e+01  1.501875e+02  1.513125e+02   1.020918e+00
max   -2.990000e+01 -2.790606e+01  1.537500e+02  1.556250e+02   4.329395e+02

| Team Member | Operating System | RAM | Processor | Is SSD | Time taken |
|:-----------:|:----------------:|:---:|:---------:|:------:|:----------:|
| Ruben       |       MacOS      |  8  |    M1     |   Yes  |            |
| Jacqueline  |       MacOS      |  8  |IntelCorei5|   Yes  |            |
| Kyle        |                  |     |           |        |            |
| Sanchit     |       MacOS      |  8  |    M1     |   Yes  |  10s       |